<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Owner</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody th:if="${not #lists.isEmpty(tasks)}">
            <tr th:each="task: ${tasks}">
                <td th:text="${task.id}"> 123</td>
                <td th:text="${task.description}"> task description</td>
                <td th:text="${task.isDone()}"> task status</td>
                <td th:text="${task.user.getName()}"> task owner name</td>
                <td><a href="#" th:href="@{'/tasks/' + ${task.user.id} + '/delete/' + ${task.getId()}}" >delete</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>

